@font-face {
  font-family: "Helvetica";
  src: local("Helvetica"), local("Helvetica-Regular"), local("Helvetica Regular"), font-url("./fonts/Helvetica.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.wrapper {
  max-width: 1200px;
  margin: auto;
}
.header, .footer {
  background-color: #1e453e;
  background-image: linear-gradient(314deg, #1e453e 0%, #182c25 74%);
  height: 140px;
}
ul {
  list-style-type: none;
}
.header .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: block;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  text-decoration: none;
  color: #F6FBF4;
  margin-top: 24px;
  padding: 20px 20px;
  letter-spacing: 0.06em;
  transition-duration: 1s;
}
.logo:hover {
  color: #ff973b;
}
.navlist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  padding-top: 33px;
}
.navlist li {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #F6FBF4;
  cursor: pointer;
  padding: 10px 20px;
  transition-duration: 1s;
}
.navlist li:hover {
  color: #ff973b;
}
.main-portrait {
  padding: 60px 20px;
}
.main-portrait img {
  width: 680px;
}
.main-page, .about-me {
  background-color: #F6FBF4;
}
.main-page {
  height: 800px;
}
.main-page .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main-content {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #1f2527;
  text-align: justify;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  cursor: default;
}
.intro{
  font-size: 33px;
  font-weight: 600;
  margin: 0;
}
.who {
  font-style: italic;
  font-size: 16px;
}
.desc {
  font-size: 18px;
  margin: 0;
}
.main-content a {
  margin: 1em 0;
  font-size: 18px;
}
.about-me {
  cursor: default;
}
.main-content a, .item-main a {
  color: #1e453e;
  display: inline-block;
  transition-duration: 1s;
  font-weight: 600;
  cursor: pointer;
}
.main-content a:hover, .item-main a:hover {
  color: #ff973b;
}
.button-primary {
  align-self: center;
  padding: 15px 30px;
  font-weight: 600;
  font-size: 18px;
  color: #F6FBF4;
  background-color: #1e453e;
  border-radius: 30px;
  border-style: none;
  cursor: pointer;
  margin: 0;
  margin-top: 5px;
  transition-duration: 1s;
}
.button-primary:hover {
  background-color: #ff973b;
}
.footer {
  height: 280px;
  color: #F6FBF4;
}
.footer .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.contact-head {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  letter-spacing: 0.06em;
  padding-top: 20px;
  cursor: default;
}
.contact-list {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  width: 780px;
  font-size: 22px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 85px;
}

#email {
  background-image: url(./svg/email.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
}
#github {
  background-image: url(./svg/github.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
}
#linkedin {
  background-image: url(./svg/linkedin.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
}
#telegram {
  background-image: url(./svg/telegram.svg);
  display: inline-block;
  width: 35px;
  height: 35px;
}

.contact-list a {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  color: #F6FBF4;
  text-decoration: none;
}
.contact-item {
  margin-left: 10px;
  transition-duration: 1s;
}
.contact-list a:hover > .contact-item {
  box-shadow: inset 0 -2px 0 0 #F6FBF4;
}
.category, .category-list, h4, .item-desc p {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #1f2527;
  text-align: justify;
}
h2 {
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
  padding-bottom: 0;
}
h4, .item-desc p {
  font-size: 18px;
  padding-top: 10px;
}
h4 {
  padding-top: 0;
  font-weight: 600;
}
.category-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
.item-desc {
  padding-left: 20px;
}
.category-item:last-child {
  padding-bottom: 20px;
}
.item-img img {
  border-radius: 10px;
}
html {
  scroll-behavior: smooth;
}
.main-portrait img {
  border-radius: 20px;
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .main-portrait img {
    width: 500px;
  }
  .main-page {
    height: 630px;
  }
  .main-portrait {
    padding-top: 65px;
  }
}
@media (max-width: 1023px) {

  .main-page .wrapper {
    flex-direction: column-reverse;
  }
  .main-content, .main-portrait {
    padding: 20px;
    margin: 20px;
  }
  .main-content {
    padding-bottom: 0px;
    margin: 0;
  }
  .main-portrait img {
    width: 600px;
  }
  .main-page {
    height: 967px;
  }
  .footer {
    height: 350px;
  }
  .contact-list {
    flex-wrap: nowrap;
    margin: 0;
    height: 200px;
    width: 400px;
    padding-left: 40px;
  }
  .who {
    font-size: 18px;
  }
  .desc, .button-primary, .main-content a {
    font-size: 20px;
  }
  .item-desc {
    padding-right: 20px;
  }
}